.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    padding: 8px 18px;
    z-index: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 90px; /* Adjust logo size */
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 50px; /* Adjust spacing between links */
}

.nav-links a {
    font-size: large;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight:200;
}

.nav-links a:hover {
    color: #8A1538; /* Change hover color as needed */
}
